
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div id="tableContainer" style="margin-top:100px;">
        @{
            Html.RenderAction("ProductTable");

        }
    </div>
    <hr />
    <div id="actionContainer">

    </div>
</div>

<script>
    function FocusAction(controlToFocus) {
        $("html,body").animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);

    }
</script>