
@{
    ViewBag.Title = "Create";
}
<div style="margin-top:100px;" class="container">
    <h2>Create Category</h2>

    <form method="post" id="createCategory">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" />
        <br />

        <label>Description</label>
        <input type="text" name="Description" class="form-control" />
        <br />

        <label>Image</label>
        <input id="ImageURL" name="ImageURL" type="hidden" />
        <input type="file" name="Image" accept=".png, .jpg, .jpeg" id="imageUpload" class="form-control" />
        <br />
        <label>Is Featured?</label>
        <input type="checkbox" name="isFeatured" style="display:inline;" id="featured" />
        <br />
        @*background-image: url('../../Content/images/noimage.jpg');background-size:contain;background-repeat:no-repeat*@
        <div class="thumb" style="width: 300px;height: 300px;">
            <img id="CategoryImage" src="~/Content/images/noimage.jpg" />
        </div>
        <button type="submit" id="btnSave">Save</button>
        <button type="submit" id="btnCancel">Cancel</button>
    </form>
</div>

<script>
     $("#btnSave").click(function () {

        $.ajax({
            type: "post",
            url: '@Url.Action("Create","Product")'/*"/Product/Create"*/,
            data: $("#createCategory").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                FocusAction("tableContainer");

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert('fail');
            });
     });

    $("#btnCancel").click(function () {
        $("#actionContainer").html("");
         FocusAction("tableContainer");
     });

    $('#featured').on('change', function () {
        $(this).val(this.checked ? "TRUE" : "FALSE");
    });


    $("#imageUpload").change(function () {

        var element = this;
        var formdata = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formdata.append("photo", file);
        }

        $.ajax({
            type: "POST",
            url:'@Url.Action("UploadImage","Shared")' /*"/Shared/UploadImage"*/,
            datatype: 'json',
            data: formdata,
            contentType: false,
            processData: false
        }).done(function (response) {
            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#CategoryImage").attr("src", response.ImageURL);
            }
        }).fail(function (XMLHttpResuest, textStatus, errorThrown) {
            alert("fail");
        });
    });
</script>