@model WoolWorthEShop.Entities.Category
@{
    ViewBag.Title = "Edit";

    var trueChecked = "";

    if (Model.isFeatured)
    {
        trueChecked = "checked";
    }

    var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/images/noimage.jpg";
}

<div style="margin-top:100px;">
    <h2>Edit</h2>

    <form method="post">
        <input type="hidden" name="ID" value="@Model.ID" />
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" />
        <br />

        <label>Description</label>
        <input type="text" name="Description" value="@Model.Description" />
        <br />

        <label>Is Featured?</label>
        <input type="checkbox" name="isFeatured" style="display:inline;" id="featured" @trueChecked />
        <br />
        <div class="thumb" style="width: 300px;height: 300px;">
            <img id="CategoryImage" src=@imageURL class="img-thumbnail" />
        </div>
        <button type="submit">Save</button>
    </form>
</div>

<script>
    $('#featured').on('change', function () {
        $(this).val(this.checked ? "TRUE" : "FALSE");
    });
</script>


